@media (max-width: 1106px) {			
	.container {		
		max-width: 60rem;		
	}
	
	/***features***/
	.column-feature2_bottom {
		margin-bottom: 30px;
	}
	.column-feature2>*:nth-child(3) {
		margin: 15px 0 30px 0;
	}
}


@media (max-width: 991px) {	
	/*=============MODAL==========*/
	.modal-body {		
		top: 4em;
		bottom: 3em;		
		padding: 2em;		
	}
	.close-btn {
		
		right: 0;
		top: 10px;
		padding: 15px 15px 0 15px;	
	}
	
	/*=============Social==========*/
	.social-media__body { 
		justify-content: space-around;
	}
	.social-media__icons {		
		flex-wrap: wrap;
		justify-content: center;		
		font-size: 2.5rem;
		flex: 0 1 60%;
	}
	
	.social-media__icons>.social-link {	
		margin: 1rem 1.2rem;
		flex: 0 1 15%;
	}
	
	/***features***/
	.column-feature3__body {
		width: 260px;
	}
	.column-feature2_bottom {
		margin-bottom: 20px;
	}
	.column-feature2>*:nth-child(3) {
		margin: 10px 0 20px 0;
	}
}


@media (max-width: 920px) {	
	:root {
		font-size: 14px;
	}
	.main__wrapper {
		margin: 0 -15px;
	}
	.main__item {
		padding: 15px;
	}
	
	/***features***/
	.features__row {	
		margin: 0 -20px;
		padding: 100px 0;
	}
	.features__column {
		padding: 0 20px;
	}
}


@media (max-width: 767px) {	
	/*****************Social************************/
	.social-media__body {
		flex-direction: column;
		justify-content: center;		
	}
	.social-media__icons {		
		margin: 1rem 0 0 0;
	}
	
	/***features***/
	.features__row { 
		flex-wrap: wrap;
		padding: 50px 0;
		justify-content: center;
	}
	.column-feature1 {
		flex: 0 0 110px;
	}
	.column-feature2 {
		flex: 1 1 60%;
	}
	.column-feature3 {
		flex: 0 1 260px;
		padding: 50px 0;
	}
	.column-feature1__tab {
		width: 80px;
		height: 80px;
		line-height: 5.5rem;
	}

  /*****************MOBILE_MENU************************/	
	.open_menu {
		display: flex;
		align-items: center;  
		position: absolute;
		top: 20px;
		right: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;			
	}
	
	.burger,
	.burger:before,
	.burger:after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #999;
		-webkit-transition: all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		-o-transition: all 1s ease 0s;
		transition: all 1s ease 0s;
	}
	.burger:before {
	  content: '';
	  top: -8px;
	}
	.burger:after {
	  content: '';
	  top: 8px;
	}
	
	.open_menu.active > span {
		width: 0;			
	}
	.open_menu.active > span::before {
		top: 0;
		transform: rotate(45deg);
		width: 30px;	
	}
	.open_menu.active > span::after {
		top: 0;
		transform: rotate(-45deg);		
		width: 30px;	
	}
	
	body.lock {
		overflow: hidden;
	}
	
	.header__nav,.header__nav.active {		
		position: fixed;
		width: 100%;
		height: 100%;				
		left: 0;
		background-color: #000;
		-webkit-transition: all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		-o-transition: all 1s ease 0s;
		transition: all 1s ease 0s;		
	}
	.header__nav {
		top: -100%;	
	}
	
	.header__nav.active {		
		top: 4rem;
		padding-bottom: 4rem;
		overflow: auto;	
	}	
	
	.header__menu,.header__menu.active {
		display: block;	
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}	
	
	.header__item {
		width: 100%;
		background-color: #000;
		margin: 0;	
		padding: 30px;
		text-align: center;	
	}
	.header__link {		
		font-size: 2rem;
	}
	.header__item:not(:last-child) {
		margin-right: 0;
	}
	
	.header__link:visited {	
		color: var(--gray-menu);
			
	}
	.header__link:hover {	
		color: #fff;	
		text-decoration: none;
	}

   
   /*=============MAIN==========*/
   .main {	
		min-height: 800px;		
	}
	.main__wrapper {	
		display: flex;
		flex-direction: column;			
		justify-content: center;
		align-items: center;		
		min-height: 800px;
		padding: 15px;
	}
	.main__item, .item2__body {
		flex: 1 1 100%;		
	}	
	.item1 {
		max-height: 400px;
		overflow: hidden;
	}
	.item2 {
		align-self: stretch;
	}
	
	.data {
		font-size: 1.5rem;
	}
	.menu__form .text_form {	 
		font-size: 1.5rem;		
	}
	.menu__form  .btn_submit {	
		font-size: 1.5rem;
		letter-spacing: 2px;
	}
}


@media (max-width: 600px) {	
	.container {		
		max-width: 40rem;		
	}	
}


@media (max-width: 440px) {	
   
   /*=============MAIN==========*/
   .item1 {
		max-height: 460px;
		overflow: hidden;
	}   
	
	/*=============MODAL==========*/
	.modal-body > h3 {		
		font-size: 1.5rem;		
	}
	.modal-body > p {		
		font-size: 1rem;		
	}
	.modal-body {		
		right: 5%;
		left: 5%;
		padding: 4em 2em;		
	}
	/***features***/
	.features__row {	
		margin: 0 -10px;
		padding: 25px 0;
	}
	.features__column {
		padding: 0 10px;
	}
	.column-feature3 {
		padding: 70px 0 50px 0;
	}
}









