
:root {
	--orange-btn: #ff9b51;	
	--gray-menu: #c9c9c9;
	--grayphone: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
body {
	background-image: url('./img/modal.png');
}
ul {	
	padding-left: 0;
}

.wrapper {		
	min-height: 100%;
	overflow: hidden;	
}

.inner-container {
	max-width: 87.5rem;
	margin: 0 auto;	
}
.container {		
	max-width: 69.125rem;
	margin: 0 auto;
	padding: 0 15px;
}


/*************HEADER*****************/
.header {	
	min-height: 4.375rem;		
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;	
}
.inner-container_header {
	height: 100%;
	background-color: #000;
}

.header__menu {
	display: flex;
}

.header__item:not(:last-child) {
	margin-right: 2.8125rem;
}
.header__link {	
	font-size: 0.875rem;
	font-weight: 700;
	color: var(--gray-menu);
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: transform 0.1s ease-out 0s;
	-moz-transition: transform 0.1s ease-out 0s;
	-o-transition: transform 0.1s ease-out 0s;
	transition: transform 0.1s ease-out 0s;
}
.header__link:link,.header__link:visited {	
	color: var(--gray-menu);		
}

.header__link:hover {	
	color: #bb0b0b;	
	color: #fff;
	display: inline-block;
	transform: scale(1.1);	
}
.header__link:active {	
	color: #00f;	
}

.open_menu {
	display: none;
}



/*****************MAIN*************/
.inner-container_main {
	position: relative;
    z-index:1;
    overflow:hidden;
	
}
.inner-container_main:before{
	content: "";
	background-image: url('./img/promo.png');
	z-index:-1;
    position:absolute;
    left:0;
    top:0; 
	width: 100%;
	height: 100%;
    filter: brightness(0.5);
}
.main {	
	min-height: 642px;		
}

.main__wrapper {	
	display: flex;
	justify-content: space-between;
	align-items: center;	
	min-height: 640px;	
}
.main__item {
	flex: 0 1 50%;
}
.item1 {
	height: 400px;
}
.item2 {	
	height: 370px;
	display: flex;
	justify-content: flex-end;
}
.item2__body {
	flex: 0 1 360px;
	font-size: 14px;
}


.item1__logo-img {
	width: 175px;
}
.item1__logo-img > img {
	max-width: 100%;
	display: block;
}


.main__item > .logo_text > p {
	font-family: 'Raleway', sans-serif;
	font-size: 2.2rem;
	color: #fff;
	margin-top: 30.4px;
	margin-bottom: 38px;
	text-transform: uppercase;	
}

.main__item > .line {
	width: 64px;
	height: 2px;
	background-color: #fff;
}
.main__item > .logo_message > p{
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	color: #c2c2c2;
	margin-top: 2.375rem;
	margin-bottom: 2.75rem;
}

.main__item > .button_download {
	border: 3px solid var(--grayphone);
	width: 9.2rem;		
	cursor: pointer;
}

.download {
	font-size: 1rem;
	color: var(--grayphone);
	text-decoration: none;
	display: inline-block;
	padding: 0.7rem 2rem;
	width: 100%;
	height: 100%;
}

.download:hover {	
	background-color: rgba(70,70,70,.4);	
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}


/********************WINDOW_REGISTRATION*************/

.menu__form {	
	height: 100%;
	background-color: #fff;	
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text_outer_form {
	border-radius: 5px 5px 0px 0px;	
	width: 100%;
	height: 56px;	
	background-color: var(--grayphone);
	display: flex;	
	justify-content: center;
	align-items: center;
}


.menu__form .text_form {	
	font-size: 1.25rem;	
	font-weight: 900;
}

.menu__form .text_form .orange {
	color: var(--orange-btn);
}

.menu__form .data {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid #d6d6d6;
	line-height: 24px;	
	width: 80%;
	margin-left: 10%;
	padding: 0 10px;
	font-size: 1.2rem;
}


.menu__form  .btn_submit {		
	height: 56px;
	border: 0;
	width: 100%;
	text-align: center;
	background-color: var(--orange-btn);
	color: #fff9f4;	
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2rem;
	border-radius: 0px 0px 5px 5px;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.menu__form  .btn_submit:hover {
	background-color: #d27530;
	color: #fff;	
}

/*************************END_BLOCK_MAIN**********************/

/*==============Modal window============*/
.modal {
	display: none;	
}
.modal-body > h3 {
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 1rem;
	line-height: 1;
}
.modal-body > p {
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.2;
	color: #333;
}

.modal-body {
	position: fixed;
	top: 4em;
	bottom: 5em;
	right: 20%;
	left: 20%;
	padding: 3em;
	background-image: url('./img/modal.png');
	overflow: auto;
	box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, .2);
	border-radius: 5px;
	z-index: 5;
}
.close-modal {
	position: absolute;
	cursor: pointer;
	top: 1em;
	right: 20px;		
}
.close-btn {
	position: relative;
	right: 15px;
	top: 15px;
	padding: 15px 15px 0 15px;	
}

.close-btn:before,
.close-btn:after {
	content: '';
	display: block;
	position: absolute;
	width: 30px;	
	height: 2px;
	background-color: #999;	
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.close-btn:before { 	
	transform: rotate(45deg);
}
.close-btn:after {
	transform: rotate(-45deg);
}
.close-btn:hover:before,
.close-btn:hover:after {
	background-color: #000;		
}
.close-btn:hover:before { 	
	transform: rotate(405deg);
}
.close-btn:hover:after {
	transform: rotate(315deg);
}


/*=============Social Media===========***/
.social-media {	
	background-color: #fff;	
	border-bottom: 1px solid #d6d6d6;
	position: relative;
}
.social-media:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #b7b7b7;
	z-index: 10;
}

.social-media__body {
	display: flex;	
	align-items: center;
	padding: 1.25rem 0;		
}

.social-media__info {
	flex: 0 1 33%;
}
.social-media__icons {
	flex: 0 1 67%;
	display: flex;
	justify-content: flex-end;	
	font-size: 3rem;
	margin: 0 -0.5rem;
}

.social-media__icons>.social-link {
	display: block;
	margin: 0 1.5rem;
	color: #ccc;
	-webkit-transition: transform .1s ease-out 0s;
	-moz-transition: transform .1s ease-out 0s;
	-o-transition: transform .1s ease-out 0s;
	transition: transform .1s ease-out 0s;
}
.social-media__icons>.social-link>i:hover {
	color: #999;
	transform: scale(1.1);
}
/*.social-media__body .social-media__info  h3 {*/
.info-caption__name {
	color: #333;
	font-weight: 900;
	font-size: 1.25rem;
	line-height: 1.4;
}
/*.social-media__info > p {*/
.info-caption__text {
	font-size: 0.875rem;
	color: #86878b;
	line-height: 1.4;
}


/*=============Features==========*/
.features {
	background-color: var(--grayphone);	
}
.features__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -50px;
	padding: 143px 0 114px 0;
}
.features__column {
	padding: 0 50px;
}
.column-feature2 {
	display: none;
}
.column-feature2.active  {
	display: block;
}
.column-feature1__tab:first-child {
	border-radius: 5px 5px 0 0;
}
.column-feature1__tab:last-child {
	border-radius: 0 0 5px 5px;
}

.column-feature1__tab {
	width: 110px;
	height: 110px;
	background-color: #333;
	margin: 0 0 1px 0;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: 700;
	line-height: 7rem;
}
.column-feature1__tab:hover {
	background-color: #111;
}
.column-feature1__tab.active {
	background-color: var(--orange-btn);
}
.column-feature2__download {
	padding: 15px 20px;
	background-color: var(--orange-btn);
	color: #fff;
	font-size: 0.9375rem;
	display: inline-block;
	font-weight: 700;
	cursor: pointer;
	border-radius: 3px;
}
.column-feature1__tab.active:hover ,.column-feature2__download:hover {
	background-color: #fb7b31;
}

.column-feature3__body {
	width: 320px;
}
.column-feature3__body img {
	max-width: 100%;
	overflow: hidden;
}

.column-feature2_bottom {
	margin-bottom: 50px;
}
.column-feature2>*:nth-child(3) {
	margin: 25px 0 50px 0;
}











