
:root {
	--orange-btn: #ff9b51;	
	--gray-menu: #c9c9c9;
	--grayphone: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
body {
	background-image: url('./img/modal.png');
}
ul {	
	padding-left: 0;
}

.wrapper {		
	min-height: 100%;
	overflow: hidden;	
}

.inner-container {
	max-width: 87.5rem;
	margin: 0 auto;	
}
.container {		
	max-width: 69.125rem;
	margin: 0 auto;
	padding: 0 15px;
}


/*************HEADER*****************/
.header {	
	min-height: 4.375rem;		
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;	
}
.inner-container_header {
	height: 100%;
	background-color: #000;
}

.header__menu {
	display: flex;
}

.header__item:not(:last-child) {
	margin-right: 2.8125rem;
}
.header__link {	
	font-size: 0.875rem;
	font-weight: 700;
	color: var(--gray-menu);
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: transform 0.1s ease-out 0s;
	-moz-transition: transform 0.1s ease-out 0s;
	-o-transition: transform 0.1s ease-out 0s;
	transition: transform 0.1s ease-out 0s;
}
.header__link:link,.header__link:visited {	
	color: var(--gray-menu);		
}

.header__link:hover {	
	color: #bb0b0b;	
	color: #fff;
	display: inline-block;
	transform: scale(1.1);	
}
.header__link:active {	
	color: #00f;	
}

.open_menu {
	display: none;
}



/*****************MAIN*************/
.inner-container_main {
	position: relative;
    z-index:1;
    overflow:hidden;
	
}
.inner-container_main:before{
	content: "";
	background-image: url('./img/promo.png');
	z-index:-1;
    position:absolute;
    left:0;
    top:0; 
	width: 100%;
	height: 100%;
    filter: brightness(0.5);
}
.main {	
	min-height: 642px;		
}

.main__wrapper {	
	display: flex;
	justify-content: space-between;
	align-items: center;	
	min-height: 640px;	
}
.main__item {
	flex: 0 1 50%;
}
.item1 {
	height: 400px;
}
.item2 {	
	height: 370px;
	display: flex;
	justify-content: flex-end;
}
.item2__body {
	flex: 0 1 360px;
	font-size: 14px;
}


.item1__logo-img {
	width: 175px;
}
.item1__logo-img > img {
	max-width: 100%;
	display: block;
}


.logo_text > p {
	font-family: 'Raleway', sans-serif;
	font-size: 2.2rem;
	color: #fff;
	margin-top: 30.4px;
	margin-bottom: 38px;
	text-transform: uppercase;	
}

.line {
	width: 64px;
	height: 2px;
	background-color: #fff;
}
.logo_message > p{
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	color: #c2c2c2;
	margin-top: 2.375rem;
	margin-bottom: 2.75rem;
}

.button_download {
	border: 2px solid var(--grayphone);
	width: 9.2rem;		
	cursor: pointer;
}

.download {
	font-size: 1rem;
	color: var(--grayphone);
	text-decoration: none;
	display: inline-block;
	padding: 0.7rem 2rem;
	width: 100%;
	height: 100%;
}

.download:hover {	
	background-color: rgba(70,70,70,.4);	
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}


/********************WINDOW_REGISTRATION*************/

.menu__form {	
	height: 100%;
	background-color: #fff;	
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text_outer_form {
	border-radius: 5px 5px 0px 0px;	
	width: 100%;
	height: 56px;	
	background-color: var(--grayphone);
	display: flex;	
	justify-content: center;
	align-items: center;
}


.menu__form .text_form {	
	font-size: 1.25rem;	
	font-weight: 900;
}

.menu__form .text_form .orange {
	color: var(--orange-btn);
}

.data {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid #d6d6d6;
	line-height: 24px;	
	width: 80%;
	margin-left: 10%;
	padding: 0 10px;
	font-size: 1.2rem;
}


.menu__form  .btn_submit {		
	height: 56px;
	border: 0;
	width: 100%;
	text-align: center;
	background-color: var(--orange-btn);
	color: #fff9f4;	
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2rem;
	border-radius: 0px 0px 5px 5px;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.menu__form  .btn_submit:hover {
	background-color: #d27530;
	color: #fff;	
}

/*************************END_BLOCK_MAIN**********************/

/*==============Modal window============*/
.modal {
	display: none;	
}
.modal-body > h3 {
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 1rem;
	line-height: 1;
}
.modal-body > p {
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.2;
	color: #333;
}

.modal-body {
	position: fixed;
	top: 4em;
	bottom: 5em;
	right: 20%;
	left: 20%;
	padding: 3em;
	background-image: url('./img/modal.png');
	overflow: auto;
	box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, .2);
	border-radius: 5px;
	z-index: 5;
}
.close-modal {
	position: absolute;
	cursor: pointer;
	top: 1em;
	right: 20px;		
}
.close-btn {
	position: relative;
	right: 15px;
	top: 15px;
	padding: 15px 15px 0 15px;	
}

.close-btn:before,
.close-btn:after {
	content: '';
	display: block;
	position: absolute;
	width: 30px;	
	height: 2px;
	background-color: #999;	
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.close-btn:before { 	
	transform: rotate(45deg);
}
.close-btn:after {
	transform: rotate(-45deg);
}
.close-btn:hover:before,
.close-btn:hover:after {
	background-color: #000;		
}
.close-btn:hover:before { 	
	transform: rotate(405deg);
}
.close-btn:hover:after {
	transform: rotate(315deg);
}


/*=============Social Media===========***/
.social-media {	
	background-color: #fff;	
	border-bottom: 1px solid #d6d6d6;
	position: relative;
}
.social-media:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #b7b7b7;
	z-index: 10;
}

.social-media__body {
	display: flex;	
	align-items: center;
	padding: 1.25rem 0;		
}

.social-media__info {
	flex: 0 1 33%;
}
.social-media__icons {
	flex: 0 1 67%;
	display: flex;
	justify-content: flex-end;	
	font-size: 3rem;
	margin: 0 -0.5rem;
}

.social-link {
	display: block;
	margin: 0 1.5rem;
	color: #ccc;
	-webkit-transition: transform .1s ease-out 0s;
	-moz-transition: transform .1s ease-out 0s;
	-o-transition: transform .1s ease-out 0s;
	transition: transform .1s ease-out 0s;
}
.social-link>i:hover {
	color: #999;
	transform: scale(1.1);
}
/*.social-media__body .social-media__info  h3 {*/
.info-caption__name {
	color: #333;
	font-weight: 900;
	font-size: 1.25rem;
	line-height: 1.4;
}
/*.social-media__info > p {*/
.info-caption__text {
	font-size: 0.875rem;
	color: #86878b;
	line-height: 1.4;
}


/*=============Features==========*/
.features {
	background-color: var(--grayphone);		
}
.features__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -50px;
	padding: 143px 0;
}
.features__column {
	padding: 0 50px;
}


.column-feature2 {
	display: none;
	position: relative;
	top: -330px;
	left: 130px;
	margin-bottom: -300px;
}

input[type="radio"] {
	display: none;
}

#radio-1:checked ~ #tabbody1,
#radio-2:checked ~ #tabbody2,
#radio-3:checked ~ #tabbody3 {
  display: block;
}

.column-feature1__tab {
	width: 110px;
	height: 110px;
	background-color: #333;
	margin: 0 0 1px 0;	
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: 700;
	line-height: 7rem;
	display: block;
	cursor: pointer;		
	user-select: none;
}

/*===================*/

.column-feature1__tab[for='radio-1']{
	border-radius: 5px 5px 0 0;
}
.column-feature1__tab[for='radio-3']  {
	border-radius: 0 0 5px 5px;	
}
 
/* Checked */
input[type=radio]:checked + .column-feature1__tab {
	background-color: var(--orange-btn);	
}
 
/* Hover */
.column-feature1__tab:hover {
	background-color: #111;
} 


/*===================*/

.column-feature2__download {
	padding: 15px 20px;
	background-color: var(--orange-btn);
	color: #fff;
	font-size: 0.9375rem;
	display: inline-block;
	font-weight: 700;
	cursor: pointer;
	border-radius: 3px;
}
.column-feature2__download:hover {
	background-color: #fb9948;
}


.column-feature3__body {
	padding-left: 20px;
	width: 320px;
}
.column-feature3__body img {
	max-width: 100%;
	overflow: hidden;
}

.column-feature2_bottom {
	margin-bottom: 50px;
}
.column-feature2>*:nth-child(3) {
	margin: 25px 0 50px 0;
}


/*==========features-panel2========*/
.features-panel2 {
	background-color: #fff;
}
.features-panel2__row {
	margin: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.features-panel2__column {
	flex: 0 1 455px;
}
.panel2-img {
	padding: 127px 0 167px 0;
	width: 100%;
}
.panel2-img>img {
	max-width: 100%;
	overflow: hidden;
	box-shadow: -5px 10px 25px #999;
}

.line.line_orange {	
	background-color: var(--orange-btn);
}
.line_margin {
	margin: 28px 0;
}
.features-panel2__title {
	font-weight: 700;
	color: #000;
}

.features-panel2__body {
	display: flex;
	padding: 3rem 0 2.5rem 0;
}


.icons-features {
	color: var(--orange-btn);
	border-radius: 50%;	
	text-align: center;
}
.icons-link {
	color: inherit;
	display: block;
	border-radius: 50%;
	border: 2px solid var(--orange-btn);
}

.features-panel2__icons {	
	line-height: 1.2;
	margin-right: 30px;
	height: 40px;
	width: 40px;
}
.features-panel2__icons  a {	
	padding: 8px;		
	font-size: 1rem;
}


/*==========features-panel3========*/
.features-panel3 {
	background-color: var(--grayphone);
}
.features-panel3__row {
	margin: 0 10px;
	display: flex;
	justify-content: space-between;	
	padding: 100px 0 130px 0;
}
.features-panel3_item1 {
	flex: 0 1 480px;
}
.features-panel3_item2 {
	flex: 0 1 450px;
}
.panel3-img {	
	width: 100%;
}
.panel3-img>img {
	max-width: 100%;
	overflow: hidden;
	box-shadow: -5px 10px 25px #999;
}


/*==================Process==================*/

.process {
	background-color: #fff;
}
.process__head {
	text-align: center;
	padding-top: 105px;
}

.process__title {
	font-family: 'Raleway', sans-serif;
	font-size: 2.25rem;
	text-transform: uppercase;	
}
.process__title:after {
	content: "";	
	display: block;
	width: 68px;
	height: 2px;
	background-color: var(--orange-btn);
	margin: 28px auto;	
}

.process__row {
	display: flex;
	justify-content: space-between;
	padding: 80px 0 105px 0;
}
.process__column {
	flex: 0 1 33.333%;
	text-align: center;	
}
.process__item {
	line-height: 2;	
	display: flex;
	justify-content: center;
}
.process__link {
	width: 70px;
	height: 70px;
	font-size: 2rem;
	-webkit-transition: all 0.1s ease 0s;
	-moz-transition: all 0.1s ease 0s;
	-o-transition: all 0.1s ease 0s;
	transition: all 0.1s ease 0s;
}
.process__link:hover {
	transform: scale(1.1);
}
.process__name {
	margin: 30px 0;
}


/*==================Pricing==================*/
.pricing {
	background-color: var(--grayphone);
}
.pricing__head {
	text-align: center;
	padding-top: 105px;
}
.pricing__row {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 75px 0 100px 0;
}
.pricing__column {
	flex: 0 1 33.333%;
	text-align: center;	
	margin: 0 20px;
	cursor: pointer;	
}
.pricing__column:hover {
	box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, .2);
	transform: scale(1.01);
}

.nav-pricing_caption {
	font-size: 1.25rem;
	font-weight: 900;
	color: #fff;
	background-color: #333;
	margin-bottom: 1px;
	line-height: 3rem;
}
.nav-pricing_price {
	font-family: 'Raleway', sans-serif;
	font-size: 5.875rem;
	font-weight: 900;
	color: #fff;
	background-color: #333;	
	padding-bottom: 5px;
	
}
.nav-pricing_price span {
	font-size: 2.1875rem;
}
.nav-pricing_text {
	font-size: 0.875rem;
	font-weight: 700;
	color: #888;
	background-color: #333;
	font-style: italic;
	padding: 20px 0;
	position: relative;	
}
.nav-pricing_pro {
	font-size: 0.875rem;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--orange-btn);
	line-height: 2.2rem;
}
.nav-pricing__item {
	font-size: 0.875rem;
	background-color: #fff;
	color: #86878b;
	text-transform: uppercase;
	text-align: center;
	margin: 1px 0;
	line-height: 2.2rem;
}

.pricing__column:nth-child(odd) .nav-pricing_text:after {
	content: "";
	display: block;
	background-color: var(--orange-btn);
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}


/*==================Testimonials==================*/
.testimonials {
	background-color: #fff;
}
.testimonials__head {
	text-align: center;
	padding-top: 105px;
}
.testimonials__row {
	display: flex;
	justify-content: space-between;
	padding: 50px 0 100px 0;
}
.testimonials__column {
	flex: 0 1 33.333%;
	margin: 0 60px;
}
.testimonials__text {
	padding: 25px 10px;
	background-color: var(--grayphone);
	border-radius: 5px;
	position: relative;
	font-size: 0.875rem;
	color: #86878b;
	font-style: italic;
}

.testimonials__text::after {
	content: ''; 
	position: absolute;
	left: 20px; 
	bottom: -20px;
	border: 10px solid transparent;
	border-top: 10px solid var(--grayphone);
}
.testimonials__body {
	margin-top: 22px;
	display: flex;
	align-items: center;	
}
.testimonials__img {
	border-radius: 50%;
	flex: 0 0 70px;
	height: 70px;
	overflow: hidden;
	margin-right: 15px;
}
.testimonials__img>img {
	display: block;
	max-width: 100%;
}
.testimonials__author  h5 {
	font-sizr: 20px;
	color: #333;
	font-size: 1.25rem;
	font-weight: 900;
	line-height: 1.6;
}

.testimonials__author p {
	font-size: 0.875rem;
	color: #86878b;
}


/*==================Custom==================*/
.custom {
	background-color: blue;
	position: relative;
    z-index:1;
    overflow:hidden;
	color: #fff;
	padding: 50px 0 60px 0;	
}

.custom:before{
	content: "";
	background-image: url('./img/custom/u25state.png');
	background-size: cover;
	z-index:-1;
    position:absolute;
    left:0;
    top:0; 
	width: 100%;
	height: 100%;
    filter: brightness(0.5);
}
.custom__text, .custom__msg {
	text-align: center;
}
.custom__btn {
	margin: 0 auto;
}
.custom__text:after {
	content: "";	
	display: block;
	width: 68px;
	height: 2px;
	background-color: #fff;
	margin: 28px auto;	
}


/*==================Contact==================*/
.contact {
	background-color: #fff;
}
.contact__head {
	padding: 105px 0 70px 0;
	text-align: center;
}
.custom-btn {
	text-align: center;
	padding: 50px 0 80px 0;
}
.custom__row {
	display: flex;
	justify-content: space-between;
}
.custom__column {
	flex: 0 1 50%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.textarea_noresize {
	height: 100%;
	resize: none;
}

/*===============Footer==========*/
.footer {
	background-color: #000;
	padding: 20px 0 12px 0;
}
.footer__icons {	
	display: flex;
	justify-content: center;	
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.footer__text {
	color: #a3a3a3;
	font-size: 12px;
	text-align: center;
}
.footer__link {
	margin: 0 1rem;
}





